DevGate OS {{ version_data.version }} ({{ version_data.release_train }})
Copyright (c) 2026 DevRay. All rights reserved.

* Support: https://devray.in/support
* Banner Config: set system login banner post-login
